@import "bootstrap-sprockets";
@import "bootstrap";


/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Header */
.navbar-header, .navbar {
  background-color: #000000;
  font-family: Arial, 'Merriweather';
}

.first {
	margin-top: 300px;
	text-align: center;
}
.center {
	text-align: center;
}
.logo {
	max-height: 200px;
	max-width: auto;
	display: inline;
}

.navbar-inverse .navbar-nav > li > a {
	color: #d3d3d3;
	font-size: 16px;
	font-weight: bold;
}
.navbar-toggle.collapsed {
	text-align: center;
	float: none;
}

/* footer */

footer {
  text-align: left;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: #2079c7;
    &:hover {
      color: #2079c7;
    }
  }
  small {
    float: left;
    width: 100%;
  }
  nav {
    display: inline;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
  .inline {
  	display: inline-block;
  }

  .center {
  	text-align: center;
  }
  .brand {
  	color: #d3d3d3;
  }
  .icon {
  	max-height: 27px;
  	max-width: auto;
  }
  .address {
  	text-align: left;
  }
}

/*3rd party*/

html,
body {
  height:100%;
  transition: 0.5s;
}

body.modal-open {
  overflow: visible; /* override bootstrap to fix modal jump to top of screen bug */
}

html {
  /*overflow-y: scroll;*/
}
.container {
  min-height:100%;
  position:relative;
}
.content {
  padding-bottom:80px; /* Height of the footer element */
}
footer {
  width:100%;
  height:86px;
  position:absolute;
  bottom:0;
  left:0;
  small{
    height: 80px;
  }
  p{
    margin-bottom: 0px;
  }
  .address-col{
  	min-width: 232px;
  }
  .brand-col{
  	min-width: 150px;
  }
  .icon-col{
  	ul{
  		min-width: 250px;
  	}
  }
}

/* Media Queries */
@media screen and (max-width: 1199px) {
    .navbar-inverse .navbar-nav > li > a {
			font-size: 15px;
		}
}
@media screen and (max-width: 991px) {
    .navbar .container {
			width: 98%;
		}
		.navbar-inverse .navbar-nav > li > a {
			font-size: 14px;
		}
}
@media screen and (max-width: 914px) {
    .navbar-inverse .navbar-nav > li > a {
			font-size: 13px;
		}
		.navbar .container {
			width: 100%;
		}
}
@media screen and (max-width: 853px) {
	.navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
        margin: auto;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
    
}

@media screen and (max-width: 367px) {
  .footer{
	  .address-col{
	  	display: block;
	  	min-width: 0px;
	  }
	  .brand-col{
	  	display: block;
	  	min-width: 0px;
	  }
	  .icon-col{
	  	ul{
	  		display: block;
	  		min-width: 0px;
	  	}
	  }
	}
}